body {
  background-color: Red;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
  margin: 0px 150px 100px 150px;
}

img {
  width: 350px;
  height: 250px;
}
